In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("air_quality.csv")
df1=df.copy()
df1.head()

,date_time,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,2013-03-01 00:00:00,9.0,9.0,3.0,17.0,300.0,89.0,-0.5,1024.5,-21.4,0.0,NNW,5.7,Dongsi
1,2013-03-01 01:00:00,4.0,4.0,3.0,16.0,300.0,88.0,-0.7,1025.1,-22.1,0.0,NW,3.9,Dongsi
2,2013-03-01 05:00:00,4.0,4.0,9.0,25.0,300.0,78.0,-2.4,1027.5,-21.3,0.0,NW,2.4,Dongsi
3,2013-03-01 06:00:00,5.0,5.0,10.0,29.0,400.0,67.0,-2.5,1028.2,-20.4,0.0,NW,2.2,Dongsi
4,2013-03-01 07:00:00,3.0,6.0,12.0,40.0,400.0,52.0,-1.4,1029.5,-20.4,0.0,NNW,3.0,Dongsi

In [4]:
df1.shape

(95685, 14)

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95685 entries, 0 to 95684
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date_time  95685 non-null  object
 1   PM2.5      95685 non-null  float64
 2   PM10       95685 non-null  float64
 3   SO2        95685 non-null  float64
 4   NO2        95685 non-null  float64
 5   CO         95685 non-null  float64
 6   O3         95685 non-null  float64
 7   TEMP       95685 non-null  float64
 8   PRES       95685 non-null  float64
 9   DEWP       95685 non-null  float64
 10  RAIN       95685 non-null  float64
 11  wd         95685 non-null  object
 12  WSPM       95685 non-null  float64
 13  station    95685 non-null  object
dtypes: float64(11), object(3)
memory usage: 10.2+ MB

In [6]:
df1['year']=pd.to_datetime(df1["date_time"]).dt.year

In [8]:
df1["day"]=pd.to_datetime(df1["date_time"]).dt.day

In [9]:
df1["month"]=pd.to_datetime(df1["date_time"]).dt.month

In [10]:
df1["hour"]=pd.to_datetime(df1["date_time"]).dt.hour

In [11]:
df1["quarter"]=pd.to_datetime(df1["date_time"]).dt.quarter

In [12]:
df1["day_of_week_num"]=pd.to_datetime(df1["date_time"]).dt.dayofweek

In [13]:
df1["day_of_week_name"]=pd.to_datetime(df1["date_time"]).dt.day_name()

In [14]:
df1.head()

,date_time,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,...,wd,WSPM,station,year,day,month,hour,quarter,day_of_week_num,day_of_week_name
0,2013-03-01 00:00:00,9.0,9.0,3.0,17.0,300.0,89.0,-0.5,1024.5,-21.4,...,NNW,5.7,Dongsi,2013,1,3,0,1,4,Friday
1,2013-03-01 01:00:00,4.0,4.0,3.0,16.0,300.0,88.0,-0.7,1025.1,-22.1,...,NW,3.9,Dongsi,2013,1,3,1,1,4,Friday
2,2013-03-01 05:00:00,4.0,4.0,9.0,25.0,300.0,78.0,-2.4,1027.5,-21.3,...,NW,2.4,Dongsi,2013,1,3,5,1,4,Friday
3,2013-03-01 06:00:00,5.0,5.0,10.0,29.0,400.0,67.0,-2.5,1028.2,-20.4,...,NW,2.2,Dongsi,2013,1,3,6,1,4,Friday
4,2013-03-01 07:00:00,3.0,6.0,12.0,40.0,400.0,52.0,-1.4,1029.5,-20.4,...,NNW,3.0,Dongsi,2013,1,3,7,1,4,Friday

In [15]:
df1.drop("date_time",axis=1,inplace=True)

In [17]:
df1.head()

,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station,year,day,month,hour,quarter,day_of_week_num,day_of_week_name
0,9.0,9.0,3.0,17.0,300.0,89.0,-0.5,1024.5,-21.4,0.0,NNW,5.7,Dongsi,2013,1,3,0,1,4,Friday
1,4.0,4.0,3.0,16.0,300.0,88.0,-0.7,1025.1,-22.1,0.0,NW,3.9,Dongsi,2013,1,3,1,1,4,Friday
2,4.0,4.0,9.0,25.0,300.0,78.0,-2.4,1027.5,-21.3,0.0,NW,2.4,Dongsi,2013,1,3,5,1,4,Friday
3,5.0,5.0,10.0,29.0,400.0,67.0,-2.5,1028.2,-20.4,0.0,NW,2.2,Dongsi,2013,1,3,6,1,4,Friday
4,3.0,6.0,12.0,40.0,400.0,52.0,-1.4,1029.5,-20.4,0.0,NNW,3.0,Dongsi,2013,1,3,7,1,4,Friday